footer{
    background-color: var(--background-color-principal);
    display: flex;
    direction: column;
    align-items: center;

}
.lado-esquerdo{
    display:flex;
    flex-direction: column;

}
.lado-esquerdo h1{
    font-size:var(--descLogoFooter-size);
    font-family:var(--descLogoFooter-font);
    font-weight:var(--descLogoFooter-weight);
}
.lado-esquerdo span{
    font-size:var(--descLogoFooter-size);
    font-family:var(--descLogoFooter-font);
    font-weight:var(--descLogoFooter-weight);
    color: var(--secondary-color);
}