/*============================================= 
    Configuração do topo 
=============================================*/
.conteudo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 95px 0px 177px;
}

/* Alinha o título e os estados um embaixo do outro */
.conteudo-esquerda-top {
    display: flex;
    flex-direction: column;
    gap: 50px; /* Cria o espaço vertical entre o título e a lista de estados */
}

/* Ajustes finos nos textos do título */
.Titulo-escolha h1 {
    font-size: var(--titleInfoEstados-size);
    font-family: var(--titleInfoEstados-font);
    font-weight: var(--titleInfoEstados-weight);
    color: var(--neutral-black);
    margin-bottom: 8px; /* Espaço entre o título e o subtítulo */
}

.Titulo-escolha p {
    font-size: var( --descInfoEstados-size);
    font-family: var( --descInfoEstados-font);
    font-weight: var(--descInfoEstados-weight);
    color: var(--neutral-black);

}

/* Lista de estados */
.gerenciador-estados {
    display: flex;
    gap: 40px; /* Aumentei o espaço entre os nomes para bater com a foto */
}

.aba-link {
    font-weight: var( --navInfoEstados-weight);
    font-size: var(--navInfoEstados-size);
    font-family: var(--navInfoEstados-font);
    color: var(--neutral-NeutralGray);
    text-decoration: none;
    white-space: nowrap; /*Impede que o texto quebre em várias linhas*/
}

/* Estado selecionado ganha a linha amarela por cima da cinza */
.aba-link.active {
    color: var(--secondary-color); 
    border-bottom: 2px solid var(--secondary-color);
}

.aba-link.active::after{
    content:"";/* Cria um elemento após o link ativo */

    height: 2px; /* Define a altura da linha */
    background-color: var(--secondary-color); /* Cor da linha amarela */
    
}

/*===========================
    Configuração do meio
============================*/
.conteudo-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px; 
}
.titulo-cidade h1{
    font-size: var(--titleCidadesInfo-size);
    font-family: var(--titleCidadesInfo-font);
    font-weight: var(--titleCidadesInfo-weight);
    color: var(--neutral-black);
}
.titulo-cidade span{
    color: var(--secondary-color);
}
.titulo-cidade p{
    font-size: var(--descCidadeInfo-size);
    font-family: var(--descCidadeInfo-font);
    font-weight: var(--descCidadeInfo-weight);
    color: var(--neutral-NeutralGray);
    text-align: center;
}
.cards-cidades{
    display: flex;
    gap:53px;
}